.header {
    border: solid 2px transparent;
    border-bottom-color: #7359b5;
    text-align: center;
    padding-bottom: 1em;
}

.header a {
    color: #eee;
}

.header a:hover {
    color: #7359b5;
}

.sitelinks, .sitelinks a {
    margin: .3em;
    font-size: 1.4em;
    color: #999;
}

.post-date {
    margin: 1em 0;
}

#content {
    margin: 0 5em;
    font-size: 22px;
}
