body {
    margin: 0 100px;
    font-size: 22px;
}

.header {
    line-height: 40px;
    font-weight: 200;
    border: solid 3px transparent;
    border-bottom-color: #7359b5;
    text-align: center;
}

.header a {
    color: #eee;
}

.header a:hover {
    color: #7359b5;
}

.sitelinks, .sitelinks a {
    margin: 5px;
    font-size: 24pt;
    line-height: 30px;
    color: #999;
}
